.DS_Store
.gitattributes
.github
.gitignore
.swcrc
.vscode
*.code-workspace
_specs/
CLAUDE.md
coverage
docs/
eslint.config.js
examples/
gulpfile.ts
jest.config.ts
node_modules
pnpm-lock.yaml
sonar-project.properties
src/
test-report.xml
tests/
tsconfig.json
yarn-debug.log
yarn-error.log
